.git
.gitignore
.idea
.DS_Store

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docs & Docker config
README.md
README.zh-CN.md
LICENSE
docker/
docker-compose.yml
.dockerignore

# Build artifacts
embed/
*.db
*.db-wal
*.db-shm
.env
