MAIL_HOST=mail.example.com
MAILIN_HOST=0.0.0.0
MAILIN_PORT=25
KEYWORD_BLACKLIST=admin,postmaster,system,webmaster,administrator,hostmaster,service,server,root
DINGTALK_WEBHOOK_TOKEN=
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=change-me
NGINX_PORT=80
